# **Assignment 2:** Regression and classification

The dataset associated to this assignment was downloaded from www.hemnet.se on 2020-10-18. The data contains information about selling prices of villas in Landvetter that were sold in the past 12months

### **Worked hours:** [insert here]
### **Authors:** Sidner Magn√©li, Lukas Martinsson

In [8]:
# imports and global configuration

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# plot config
plt.style.use('fivethirtyeight')

# global output line limit
n = 5

df_raw = pd.read_csv('./datasets/data_assignment2.csv')

In [24]:
# data cleaning
df = df_raw.set_index('ID') # use included index

df.dropna(how='all', inplace=True) # remove any complete NaN rows

df.head(n)

    Living_area  Rooms  Land_size  Biarea  Age  Selling_price
ID
1           104    5.0      271.0    25.0   33        4600000
2            99    5.0     1506.0     6.0   88        4450000
3           133    6.0      486.0     NaN   44        4900000
4           175    7.0      728.0     NaN   14        6625000
5           118    6.0     1506.0     NaN   29        4600000

> ### **1.a)** Find a linear regression model that relates the living area to the selling price. If you did any data cleaning step(s), describe and explain why you did that.

In [ ]:
# create model